[global_config]
  window_state = maximise
  enabled_plugins = TerminalShot, LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  borderless = True
  sticky = True
  title_hide_sizetext = True
  tab_position = bottom
[keybindings]
  cycle_prev = <Alt>k
  toggle_zoom = <Alt>Return
  cycle_next = <Alt>j
  switch_to_tab_10 = <Alt>0
  resize_left = <Alt>h
  split_horiz = <Shift><Alt>Return
  new_window = <Primary><Shift>n
  switch_to_tab_6 = <Alt>6
  switch_to_tab_7 = <Alt>7
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  split_vert = <Shift><Alt>quotedbl
  switch_to_tab_3 = <Alt>3
  switch_to_tab_1 = <Alt>1
  switch_to_tab_2 = <Alt>2
  go_next = <Primary><Shift>n
  resize_right = <Alt>l
  switch_to_tab_8 = <Alt>8
  switch_to_tab_9 = <Alt>9
[profiles]
  [[default]]
    scrollbar_position = hidden
    login_shell = True
    background_darkness = 0.87
    scrollback_lines = 10000
    show_titlebar = False
    copy_on_selection = True
[layouts]
  [[default]]
    [[[child1]]]
      profile = default
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
